<!DOCTYPE html>
<html lang="en">
<head>
    <title>SLOT</title>
    <link rel="stylesheet" href="{{ mix('/css/app.css') }}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
<h1>Slot</h1>
<div class="all-box">
    <p class="box">
        <input type="text" id="box_1" class="item">
        </input>
    </p>
    <p class="box">
        <input type="text" id="box_2" class="item">
        </input>
    </p>
    <p class="box">
        <input type="text" id="box_3" class="item">
        </input>
    </p>
</div>
<script src="{{ mix('/js/app.js') }}"></script>
</html>