.all-box {
  display: flex;
  height: 400px;
  width: 600px;
  margin: auto;

  .box {
    input {
      font-size: 50px;
      width: 100px;
      height: 100px;
      text-align: center;
      .button {
        width: 30px;
      }
    }
    margin: auto;
  }
}